@media screen and (min-width: 990px){
    .grid__item.product__media-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
    }
    
    .product__info-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 749px){
    .slider.slider--mobile { 
        scroll-padding-left: 0 !important;
      }
      .product-media-container {
        width: 100% !important;
        margin: 0 !important;
    }
    .product__media-list .product__media-item {
        width: 100% ;
    }
}
.product--medium .thumbnail-list {
    display: flex;
}

.slider__slide {
    width: 45px;
}
.product-media-container {
    border-color: #B3B3B3;
}
