
/* lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* product main grid desktop  */

@media screen and (min-width: 990px){
    .grid__item.product__media-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
    }
    
    .product__info-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
        padding-left: 15px;
    }
    .product-form__buttons{
        max-width: 100%;
    }
}
/* Slider */
.product--medium .thumbnail-list {
    display: flex;
}

.slider__slide {
    width: 45px;
}
.product-media-container {
    border-color: #B3B3B3;
}
.thumbnail[aria-current]{
    box-shadow: none;
}

 .slider-counter.caption {
    display: none;
}

slider-component.slider-mobile-gutter button.slider-button { 
    position: absolute;
    top: 50%; 
    display: block !important;
} 
slider-component.slider-mobile-gutter {
    position: relative;
}

button.slider-button.slider-button--next {
    right: 0;
}

button.slider-button.slider-button--prev {
    left: 0;
}  
 
/* ATC Button */
.product-form__submit.button { 
    border-radius: 20px;
    font-family: 'Lato';
    text-transform: capitalize;
    color: #FFFFFF;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    background-color: #92278F;
    border: none;
    padding: 15px 48px;
    transition: .3s;
}
@media screen and (max-width: 749px){

.product-form__submit.button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 13px;
    min-height: auto;
}
}
.buy-button {
    margin-bottom: 0;
}
.product-form__submit.button:before,.product-form__submit.button:after {
    display: none;
}

.product-form__submit.button:hover {
    opacity: .75;
}

/* Slider Mobile */
@media screen and (max-width: 749px){ 

        .drift-zoom-pane.drift-open, .drift-zoom-pane {
          display: none;
        }
      
        .product__media.media.media--transparent {
            pointer-events: none;
        }
    .slider.slider--mobile { 
        scroll-padding-left: 0 !important;
      }
      .product-media-container {
        width: 100% !important;
        margin: 0 !important;
    }
    .product__media-list .product__media-item {
        width: 100% ;
    }
    .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin-left: 0;
        margin-right: 0;
    }
    /* dots */
    .thumbnail-list__item.slider__slide {
        width: 10px !important;
        height: 10px;
        border-radius: 100%; 
        overflow: hidden;
      }
      .thumbnail-list__item.slider__slide img {
        display: none;
      }
        .thumbnail {
        background: grey !important;
      }
      .thumbnail[aria-current] {
        background: black !important;
      }
      
      .thumbnail-slider .thumbnail-list.slider {
        justify-content: center;
      }
}
/* zoom container */
.zoom{
    height: 100%;
    left: 10px;
    height: auto; 
    min-width: 100%; 
    aspect-ratio: 1;
    overflow: hidden;
    position: absolute;
    display: block !important;
    top: 1px;
    width: 100%;
    z-index: 999999;
    pointer-events: none;
} 
.drift-bounding-box.drift-open {
    display: block;
}

/* product title and price */
.product__title h1 {
    font-family: 'Lato';
}
.price--large {
    font-size: 20px;
    font-family: 'Lato';
}
.product__title h1 {
    font-family: 'Lato';
}
.product__title.desktop {
    margin-bottom: 0;
}

/* quantity */
label.quantity__label.form__label {
    display: none;
}
.quantity {
    width: 96px;
    min-height: auto;
    border: 1px solid #80808057;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

quantity-input.quantity button,quantity-input.quantity input {
    width: 33.33%;
    aspect-ratio: 1;
    height: auto;
    margin: 0;
    /* border: 0 !important; */
}

button.quantity__button {
    background: #00000008 !important;
    opacity: 1 !important;
    margin: 0 !important;
}

button.quantity__button:hover {
    background: #474b4747 !important;
    transition: .3s;
}
 
.quantity:before {
    display: noe;
}

.quantity:before {
    display: none !important;
}

.quantity:after {
    display: none;
}
/* feature content */

.featured_content.desktop {
    margin-top: 0;
}

.featured_content ul {
    margin-top: 5px;
}
.featured_content li {
    list-style: none;
    color: black;
    font-size: 18px;
    font-family: 'Lato';
    line-height: 1.53;
}

.featured_content ul {
    padding-left: 0;
}
/* trustbox */
.trustbox {
    margin-top: 0px !important;
    text-align: center;
}

.trustbox p {
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: bold;
    /* text-align: center; */
}

product-form.product-form {
    margin-bottom: 12px !important;
}
/* testimonial with Icon */
.testimonial-with-icon {
    font-size: 20px;
    line-height: 1.44;
    font-family: 'Lato';
    color: black;
}
.testimonial-with-icon p {
    margin: 0;
    margin-bottom: 5px;
}
.review-icon svg { 
    width: 35px;
    height: 35px;
    margin:0 -5px;
}
.icon-wrapper{
    height:35px
}
.review-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* mobile hiding class */
.mobile{
    display: none;
}
@media screen and (max-width: 749px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}