
/* lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* product main grid desktop  */

@media screen and (min-width: 990px){
    .grid__item.product__media-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
    }
    
    .product__info-wrapper {
        width: 50% !important;
        max-width: 50% !important;
        padding: 0 15px;
        padding-left: 15px;
    }
    .product-form__buttons{
        max-width: 100%;
    }
/* Slider */
.product--medium .thumbnail-list {
    display: flex;
}

.slider__slide {
    width: 45px;
}
.product-media-container {
    border-color: #B3B3B3;
}
.thumbnail[aria-current]{
    box-shadow: none;
}
/* ATC Button */
.product-form__submit.button { 
    border-radius: 20px;
    font-family: 'Lato';
    text-transform: capitalize;
    color: #FFFFFF;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    background-color: #92278F;
    border: none;
    padding: 15px 48px;
    transition: .3s;
}

.product-form__submit.button:before,.product-form__submit.button:after {
    display: none;
}

.product-form__submit.button:hover {
    opacity: .75;
}
/* Slider Mobile */
@media screen and (max-width: 749px){
    .slider.slider--mobile { 
        scroll-padding-left: 0 !important;
      }
      .product-media-container {
        width: 100% !important;
        margin: 0 !important;
    }
    .product__media-list .product__media-item {
        width: 100% ;
    }
}
/* zoom container */
.zoom{
    height: 100%;
    left: 10px;
    min-height: 538px;
    min-width: 538px;
    overflow: hidden;
    position: absolute;
    display: block !important;
    top: 1px;
    width: 100%;
    z-index: 999999;
} 
